name: Deploy to VPS

on:
  workflow_dispatch:
    inputs:
      cleanup:
        description: 'Clean up persistent directories before deploying'
        required: false
        default: false
        type: boolean

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/_common.yml
    with:
      cleanup: ${{ github.event.inputs.cleanup || 'false' }}
    secrets: inherit