name: Release Deployment

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      cleanup:
        description: 'Clean up persistent directories before deploying'
        required: false
        default: false
        type: boolean

jobs:
  call-shared-workflow:
    uses: ./.github/workflows/_common.yml
    with:
      cleanup: ${{ github.event_name == 'release' || (github.event.inputs.cleanup != '' && github.event.inputs.cleanup) }}
    secrets: inherit